@media only screen and (max-width: 1025px) {
    .project{
        flex-direction:column;
    }
    #txt {
        margin-bottom:25px;
    }

    #h1{
        margin:0;
    }

  
}

@media only screen and (max-width:951px) {
    #img img {
        margin-left: -37px;
    }
}

@media only screen and (max-width:930px) {

}

@media only screen and (max-width:768px) {

    main{
        padding:50px;
    }

    #h1{
        text-align:center;
    }
 
    #txt h1{
        text-align:center;
    }

    #img img{
        margin-left:0;
    }
   
}

@media only screen and (max-width:426px) {
       #h1{
           margin-top:100px;
       } 

        #img img{
            width:369.2px;
            height:189.6px;

            margin-left:-18px
        }

}

@media only screen and (max-width:376px){
/*    main{ 
       padding:px;
       
       } */

        #txt p{
        text-align: center;
    }
    
    #img img{
        margin-left:-29px;
    }
}

@media only screen and (max-width:321px){
    main{
        padding:5px;
    }
    
    #txt{
        margin-left:30px
    }
    
    #txt p{
        text-align: center;
    }
    
    #img img{
        width:340px;
        height:170px;
        margin-left:0.5px
    }

    
}